@page
@model PRN221_Group3_Project_HotelManagement.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create User</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <img src="" id="img_preview" style="width:200px;height:150px" alt="Image room" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.FileUpload" class="control-label"></label>
                <input asp-for="@Model.FileUpload" class="form-control" accept="image/png, image/jpeg, image/jpg" />
                <span asp-validation-for="@Model.FileUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserPhone" class="control-label"></label>
                <input asp-for="User.UserPhone" class="form-control" required/>
                <span asp-validation-for="User.UserPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserPassword" class="control-label"></label>
                <input asp-for="User.UserPassword" class="form-control" required/>
                <span asp-validation-for="User.UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserName" class="control-label"></label>
                <input asp-for="User.UserName" class="form-control" required/>
                <span asp-validation-for="User.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserWallet" class="control-label"></label>
                <input asp-for="User.UserWallet" class="form-control" required/>
                <span asp-validation-for="User.UserWallet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserStatus" class="control-label"></label>
                <select class="form-control" aria-label=".form-select-lg example" asp-for="@Model.selected">
                    <option value="1">Active</option>
                    <option value="0">DeActive</option>
                </select>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <button type="button" class="btn btn-primary mt-3">
        <a class="text-decoration-none text-white" asp-page="./Index">Back to List</a>
    </button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
