@page
@model PRN221_Group3_Project_HotelManagement.Pages.AccessPage.RegisterModel
@{
    ViewData["Title"] = "Register page";
}
<div class="container card mt-5 p-0" style="width:40%; background-color:antiquewhite">
<div class="card-header">  
    <h1 class="text-center" style="font-size:x-large">Register Account</h1>  
</div>
<div class="card-body">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form method="post">
        <div class="form-group mb-2">
            <label asp-for="UserAccount.UserName" class="form-label">Name<span style="color:red">*</span></label>
            <input asp-for="UserAccount.UserName" class="form-control">
            <span asp-validation-for="UserAccount.UserName" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="UserAccount.UserPhone" class="form-label">Phone<span style="color:red">*</span></label>
            <input asp-for="UserAccount.UserPhone" class="form-control">
            <span asp-validation-for="UserAccount.UserPhone" class="text-danger"></span>
        </div>    
        <div class="form-group mb-2">
            <label asp-for="UserAccount.UserPassword" class="form-label">Password<span style="color:red">*</span></label>
            <input asp-for="UserAccount.UserPassword" class="form-control">
            <span asp-validation-for="UserAccount.UserPassword" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="@Model.CfPassword" class="form-label">Confirm Password<span style="color:red">*</span></label>
            <input asp-for="@Model.CfPassword" class="form-control">
            <span asp-validation-for="@Model.CfPassword" class="text-danger"></span>
        </div>
        <div class="form-group mb-1 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" title="Register account">Register</button>
        </div>
    </form>
</div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@section Scripts {
    @if (Model.Message != null && Model.Message.Equals("Success"))
    {
        <script>        
            swal({        
                title: "Register successfully!",        
                text: "Let's click to 'OK' to login hotel!",        
                icon: "success",        
                button: "OK",        
            }).then(function () {        
                window.location = "/AccessPage/Login";        
            });        
        </script>        
    }
    else if (Model.Message != null && Model.Message.Equals("Failure"))
    {
        <script>        
            swal({        
                title: "Register failure!",        
                text: "Exist phone or mismatched confirming password. Let's click to 'Try again' to register again!",        
                icon: "error",        
                button: "Try again",        
            }).then(function () {        
                window.location = "/AccessPage/Register";        
            });        
        </script>        
    }
}